html { box-sizing: border-box; }

*, *:before, *:after { box-sizing: inherit; }

.card{
    &__container{
        width: 300px;
        height:600px;
        box-shadow: 7px 17px 28px -5px rgba(226,233,240,0.83);
        margin:1em;
    }
    &__photo{
        width:100%;
    }
}
